{% extends 'main/main_layout.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block stylesheets_2 %} {% endblock %}

{% block content %}
    <div>
        <ul>
            {% for msg in app.session.flashBag.get('info') %}
                <li>{{ msg }}</li>
            {% endfor %}
        </ul>
    </div>
    <p>
    Bonjour à vous
    {% if user is null %}
     ! <br>
    {% elseif  user.isadmin %}
     administrateur ! <br>
    {% else %}
     {{ user.firstname }} ! <br>
    {% endif %}
    Bienvenue sur le site de commande de Stud'eCook ! <br>
    Ici vous trouverez des aliments à commander et bien plus ;) <br>
    N'hésitez pas à installer notre application : <br>
    <a href="https://play.google.com/store/apps/details?id=com.mobile.app.studecook&hl=en_US&gl=US">petit lien vers le playstore tu connais</a>
    </p>
{% endblock %}