{% extends 'main/main_layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets_2 %} {% endblock %}

{% block content %}
    <p>
        {% if user is null %}
            Vous pourrez vous connecter bientôt ! <br>
        {% else %}
            Vous êtes déjà connecté(e) {{ user.firstname }} ;) <br>
        {% endif %}
    </p>
{% endblock %}