{% extends 'main/main_layout.html.twig' %}

{% block title %} Panier {% endblock %}

{% block stylesheets_2 %} {% endblock %}

{% block content %}
    <p>
        Voici le contenu de votre panier : <br>
        TO DO : Afficher la panier de l'utilisateur.
    </p>
{% endblock %}