img
{
    width: 100%;
}

header
{
    background-color: black; /* Applique un fond noir, pour pallier au problème du bandeau administrateur */
}

footer
{
    background-color: #FFEE99;
    height: 100%;
    margin-top: 100%;
}

header img
{
    height: 100px;
}

footer img
{
    height: 75px;
}