{% extends 'main/main_layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets_2 %}
    <link rel="stylesheet" href="{{ asset('css/connection_account.css') }}" type="text/css" />
{% endblock %}

{% block content %}
    <p>
        Vous pourrez vous connecter bientôt ! <br>
    </p>
{% endblock %}