{% extends 'main/main_layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets_2 %} {% endblock %}

{% block content %}
    <p>
        Vous pourrez vous connecter bientôt ! <br>
    </p>
{% endblock %}