{% extends 'main/main_layout.html.twig' %}

{% block title %}Gérer les utilisateurs{% endblock %}

{% block stylesheets_2 %} {% endblock %}

{% block content %}
    <p>
        TO DO : Faire la page pour gérer les comptes.
    </p>
{% endblock %}