{% extends 'main/main_layout.html.twig' %}

{% block title %}Ajouter un produit {% endblock %}

{% block stylesheets_2 %} {% endblock %}

{% block content %}
    <p>
        Ajoutez un nouveau produit :
        {{ form(form_add_product) }}
    </p>
{% endblock %}