{% extends 'main/main_layout.html.twig' %}

{% block title %}Produits{% endblock %}

{% block stylesheets_2 %} {% endblock %}

{% block content %}
    <p>
        Voici les produits que nous vendons : <br>
        TO DO : Afficher la liste de produits.
    </p>
{% endblock %}