{% extends 'main/main_layout.html.twig' %}

{% block title %} Panier {% endblock %}

{% block stylesheets_2 %} {% endblock %}

{% block content %}
    <p>
    {% if user is null %}
        Veuillez d'abord vous connecter ! <br>
    {% elseif  user.isadmin %}
        Cette action n'est disponible que pour le client ! <br>
    {% else %}
        Voici le contenu de votre panier {{ user.firstname }} : <br>
    {% endif %}
    </p>
{% endblock %}